
<div class="betting-window">

	<div ng-show="betservice.currentGame().status == 1" class="timer">Closing bets in <h4>{{timer}}s</h4></div>
	
    <div ng-show="betservice.currentGame().status == 2">
      <h3>Bets are closed</h3>
      {{betservice.currentGame().team[0].name}} total: {{betservice.currentGame().team[0].coins}}$
      <br>
      {{betservice.currentGame().team[1].name}} total: {{betservice.currentGame().team[1].coins}}$
      <br>
      You placed {{betInfo.yourbet}}$ on 
      {{ betservice.currentGame().team[betInfo.yourteam].name}}, you stand to win
      {{betInfo.percentage * 100}}% of {{betInfo.of}}$ ( {{betInfo.percentage * betInfo.of}} ) <br>
      or loose {{(betInfo.yourbet / $root.currentUser.public.coins)*100}}% of your total coins
    </div>
</div>
