


<form name="bettingForm" ng-submit="placeBet()" ng-show="betservice.currentGame().status == 1 && betservice.findMyBet() == false">
	<label>{{betservice.currentGame().team[0].name}}<input type="checkbox" ng-model="betform.choice" ng-true-value="0" ng-false-value="1"></label>
	<br>
	<label>{{betservice.currentGame().team[1].name}}<input type="checkbox" ng-model="betform.choice" ng-true-value="1" ng-false-value="0"></label>
	<input type="hidden" name="team" ng-model="betform.choice" required>
  <small class="error" ng-show="bettingForm.team.$error.required">
    You need to choose a team
  </small>
	<div>You have <small>{{$root.currentUser.public.coins}}</small></div>
	Amount: <input ng-model="betform.amount" name="number" betting-amount required ng-minlength=2>
  <small class="error" ng-show="bettingForm.number.$error.minlength">
    You need to bet atleast 10 coins
  </small>
  <br>
	<button class="button" type="submit">Place bet</button>
</form>


<div ng-show="betservice.findMyBet() !== false">
	you placed {{betservice.findMyBet().amount}}$ on {{betservice.currentGame().team[betservice.findMyBet().choice].name}}
</div>

<div ng-show="betservice.currentGame().status == 2">
	<h3>Bets are closed</h3>
</div>

<div ng-show="betservice.currentGame().status == 3">
	<hr>
	<h1 style="color: blue">{{betservice.currentGame().team[betservice.currentGame().winner].name}} wins!</h1>

	<!-- you win -->
	<div ng-show="betservice.currentGame().winner == betservice.findMyBet().choice">
		You win
	</div>

	<!-- you loose -->
	<div ng-show="betservice.currentGame().winner != betservice.findMyBet().choice">
		You loose
	</div>

</div>



<br/>
<br/>
<br/>
<div ng-show="betservice.currentGame().status == 1">Closing bets in {{timer}}s</div>
<br/>
<br/>
<br/>

<hr>
adminbetting<br>
<!-- start new game -->
<form ng-submit="startBetting()" ng-show="betservice.currentGame().status == 3">
	Team A: <input ng-model="admin.betinfo.teamA">
	<br>
	Team B: <input ng-model="admin.betinfo.teamB">
	<br>
	Countdown <input type="number" ng-model="admin.betinfo.timer">
	<button type="submit">Start new game</button>
</form>

<!-- Stop betting -->
<button ng-show="betservice.currentGame().status == 1" ng-click="stopBetting()">stop Betting</button>

<!-- Stop betting -->
<form name="winnerForm" ng-submit="selectWinner()" ng-show="betservice.currentGame().status == 2">
	Select winner
	<br>
	<label>{{betservice.currentGame().team[0].name}}<input type="checkbox" ng-model="winnerform.choice" ng-true-value="0" ng-false-value="1"></label>
	<br>
	<label>{{betservice.currentGame().team[1].name}}<input type="checkbox" ng-model="winnerform.choice" ng-true-value="1" ng-false-value="0"></label>

  <br>
	<button class="button" type="submit">Place bet</button>
</form>