

<div class="mast-container">
  <div class="mast-userarea">
    {{$root.currentUser.public.name}}: 
    {{$root.currentUser.public.coins.toFixed(0)}}$
    <p class="cursor" ng-click="$root.logout()">Logout</p>
    <div class="icon">
      <svg width="100%" height-"100%" dnr-avatar paperdoll="$root.currentUser.public.paperdoll" viewBox="90 150 550 1052"></svg>
      
    </div>
  </div>
  <div class="mast-navigation">
    <ul>
      <li>
        <a ui-sref="social.betting">Betting</a>
      </li>
      <li>
        <a ui-sref="social.topics">topics</a>
      </li>
      <li>
        <a ui-sref="social.users">Users</a>
      </li>
      <li>
        <a ui-sref="social.settings">Settings</a>
      </li>
      <li>
        <a ui-sref="social.admin">Admin</a>
      </li>
    </ul>
  </div>
  <div class="mast-tracker">
  </div>
</div>

<div class="main-container">
  <div class="bets-view" bets-feed></div>
  <div class="social-scroll">
    <div class="social-view" ui-view=""></div>
  </div>
  <div class="bets-chat"></div>
</div>
